
.simplepopup {
display:none;
border: 0;
background: #fdfdfe;
border-radius: 8px;
z-index:99999999999;
padding:30px 50px;
width:70%;
min-width:70%;
position: fixed !important;
top: 50% !important;
left: 50% !important;
height: auto;
max-height: 80%;
overflow: auto;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%) translateY(-50%);
}

.simplepopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
}

.simplepopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
/*new css start here*/
.modal-header h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.simplepopupClose {
  font-size: 20px;
  color: #181819;
}
.modal-body {
  margin-bottom: 1.5rem;
}
.modal-body p {
  font-size: 18px;
  line-height: 1.6;
  color: #181819;
  margin: 0;
}
.modal-footer a {
  float: right !important;
  text-decoration: none !important;
}
.modal-body p span {
  font-weight: 600;
  margin-right: 0.5rem;
}

@media (max-width:480px) {

  .mypopupbuttonclass {
    width: 100% !important;
    margin-right: 0px !important;
   }
  .simplepopupClose {
    margin-left: 0 !important;
   }
    

}	
